html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.contenedor-alerta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center; /* centra horizontal */
    align-items: center;     /* centra vertical */

    z-index: 1050; /* por encima del contenido */
}

/* para que el footer no se quede en medio cuando uses 100vh */
.pie{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
